<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mercado Liebre</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/theme.css" />
  </head>
  <body>
    <header class="bg-yellow">
      <h1>
        <img src="/images/logo-mercado-liebre.svg" alt="Mercado Liebre" />
      </h1>
      <p>Lugar para poner barra de busqueda</p>
      <p>
        <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de
        credito
      </p>
      <nav>
        <ul class="nav-section">
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tiendas Oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>
        <ul>
          <li><a href="#">Crea tu cuenta</a></li>
          <li><a href="#">Ingresá</a></li>
          <li><a href="#">Mis Compras</a></li>
        </ul>
      </nav>
    </header>
    <img
      src="/images/img-home-banner.jpg"
      alt="Promoción fiestas"
      width="100%"
    />
    <main>
      <section>
        <h2>Basado en tu última visita</h2>
        <article>
          <img
            width="100%"
            src="/images/img-cafetera-moulinex.jpg"
            alt="Cafetera Moulinex"
          />
          <p>$6.770</p>
          <p>40% OFF</p>
          <h3>Cafetera Moulinex</h3>
        </article>
        <article>
          <img
            width="100%"
            src="/images/img-macbook-pro-2019.jpg"
            alt="Macbook Pro 2019"
          />
          <p>$230.000</p>
          <p>20% off</p>
          <h3>MacBook Pro 2019</h3>
        </article>
        <article>
          <img
            width="100%"
            src="/images/img-samsung-galaxy-s10.jpg"
            alt="Samsung Galaxy S10"
          />
          <p>$70.500</p>
          <p>10% off</p>
          <h3>Samsung Galaxy S10</h3>
        </article>
        <article>
          <img
            width="100%"
            src="/images/img-tv-samsung-smart.jpg"
            alt="Samsung Galaxy S10"
          />
          <p>$23.200</p>
          <p>5% off</p>
          <h3>SmartTv Samsung 43"</h3>
        </article>
      </section>
      <section>
        <h2>Ofertas</h2>
        <article>
          <img
            width="100%"
            src="/images/img-cafetera-moulinex.jpg"
            alt="Cafetera Moulinex"
          />
          <p>$6.770</p>
          <p>40% OFF</p>
          <h3>Cafetera Moulinex</h3>
        </article>
        <article>
          <img
            width="100%"
            src="/images/img-macbook-pro-2019.jpg"
            alt="Macbook Pro 2019"
          />
          <p>$230.000</p>
          <p>20% off</p>
          <h3>MacBook Pro 2019</h3>
        </article>
        <article>
          <img
            width="100%"
            src="/images/img-samsung-galaxy-s10.jpg"
            alt="Samsung Galaxy S10"
          />
          <p>$70.500</p>
          <p>10% off</p>
          <h3>Samsung Galaxy S10</h3>
        </article>
        <article>
          <img
            width="100%"
            src="/images/img-tv-samsung-smart.jpg"
            alt="Samsung Galaxy S10"
          />
          <p>$23.200</p>
          <p>5% off</p>
          <h3>SmartTv Samsung 43"</h3>
        </article>
      </section>
    </main>

    <!-- Para la casa -->
    <footer></footer>
  </body>
</html>
