<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mercado Liebre</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/utils.css" />

    <link rel="stylesheet" href="/css/theme.css" />
    <link rel="stylesheet" href="/css/styles-tablet.css" />
    <link rel="stylesheet" href="/css/styles-laptop.css" />
  </head>
  <body class="bg-light-grey">
    <header class="bg-yellow p-8">
      <div class="fx fx-wrap fx-align-center">
        <h1 class="w-50">
          <img src="/images/logo-mercado-liebre.svg" alt="Mercado Liebre" />
        </h1>
        <p class="w-50">Lugar para poner barra de búsqueda</p>
        <p class="text-center w-100">
          <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta
          de crédito
        </p>
      </div>
      <nav class="nav-bar mt-8">
        <ul class="nav-section mb-8">
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tiendas Oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>
        <ul class="nav-section mb-8">
          <li><a href="#">Crea tu cuenta</a></li>
          <li><a href="#">Ingresá</a></li>
          <li><a href="#">Mis Compras</a></li>
        </ul>
      </nav>
      <div class="burger-menu font-heading">
        <i class="fas fa-bars"></i>
      </div>
    </header>
    <img
      src="/images/img-home-banner.jpg"
      alt="Promoción fiestas"
      width="100%"
    />
    <main class="p-8 w-90 m-center">
      <section class="fx fx-wrap mt-16">
        <h2 class="font-heading mb-8 w-100">Basado en tu última visita</h2>
        <div class="w-100 w-tablet-50 w-desktop-25 p-8">
          <article class="product mb-8 bg-white">
            <img
              width="100%"
              src="/images/img-cafetera-moulinex.jpg"
              alt="Cafetera Moulinex"
            />
            <div
              class="p-8 p-relative b-top-1 border-light-grey fx fx-wrap fx-align-center"
            >
              <i class="truck-icon fas fa-truck font-green"></i>
              <p class="font-large mr-8">$6.770</p>
              <p class="font-medium font-green fx-grow-70">40% OFF</p>
              <h3 class="product-title font-medium w-100">Cafetera Moulinex</h3>
            </div>
          </article>
        </div>
        <div class="w-100 w-tablet-50 w-desktop-25 p-8">
          <article class="product mb-8 bg-white">
            <img
              width="100%"
              src="/images/img-macbook-pro-2019.jpg"
              alt="Macbook Pro 2019"
            />
            <div
              class="p-8 p-relative b-top-1 border-light-grey fx fx-wrap fx-align-center"
            >
              <i class="truck-icon fas fa-truck font-green"></i>
              <p class="font-large mr-8">$230.000</p>
              <p class="font-medium font-green fx-grow-70">20% off</p>
              <h3 class="product-title font-medium w-100">MacBook Pro 2019</h3>
            </div>
          </article>
        </div>
        <div class="w-100 w-tablet-50 w-desktop-25 p-8">
          <article class="product mb-8 bg-white">
            <img
              width="100%"
              src="/images/img-samsung-galaxy-s10.jpg"
              alt="Samsung Galaxy S10"
            />
            <div
              class="p-8 p-relative b-top-1 border-light-grey fx fx-wrap fx-align-center"
            >
              <i class="truck-icon fas fa-truck font-green"></i>
              <p class="font-large mr-8">$70.500</p>
              <p class="font-medium font-green fx-grow-70">10% off</p>
              <h3 class="product-title font-medium w-100">
                Samsung Galaxy S10
              </h3>
            </div>
          </article>
        </div>
        <div class="w-100 w-tablet-50 w-desktop-25 p-8">
          <article class="product mb-8 bg-white">
            <img
              width="100%"
              src="/images/img-tv-samsung-smart.jpg"
              alt="Samsung Galaxy S10"
            />
            <div
              class="p-8 p-relative b-top-1 border-light-grey fx fx-wrap fx-align-center"
            >
              <i class="truck-icon fas fa-truck font-green"></i>
              <p class="font-large mr-8">$23.200</p>
              <p class="font-medium font-green fx-grow-70">5% off</p>
              <h3 class="product-title font-medium w-100">
                SmartTv Samsung 43"
              </h3>
            </div>
          </article>
        </div>
      </section>
      <section class="fx fx-wrap mt-16">
        <h2 class="font-heading mb-8 w-100">Ofertas</h2>
        <div class="w-100 w-tablet-50 w-desktop-25 p-8">
          <article class="product mb-8 bg-white">
            <img
              width="100%"
              src="/images/img-cafetera-moulinex.jpg"
              alt="Cafetera Moulinex"
            />
            <div
              class="p-8 p-relative b-top-1 border-light-grey fx fx-wrap fx-align-center"
            >
              <i class="truck-icon fas fa-truck font-green"></i>
              <p class="font-large mr-8">$6.770</p>
              <p class="font-medium font-green fx-grow-70">40% OFF</p>
              <h3 class="product-title font-medium w-100">Cafetera Moulinex</h3>
            </div>
          </article>
        </div>
        <div class="w-100 w-tablet-50 w-desktop-25 p-8">
          <article class="product mb-8 bg-white">
            <img
              width="100%"
              src="/images/img-macbook-pro-2019.jpg"
              alt="Macbook Pro 2019"
            />
            <div
              class="p-8 p-relative b-top-1 border-light-grey fx fx-wrap fx-align-center"
            >
              <i class="truck-icon fas fa-truck font-green"></i>
              <p class="font-large mr-8">$230.000</p>
              <p class="font-medium font-green fx-grow-70">20% off</p>
              <h3 class="product-title font-medium w-100">MacBook Pro 2019</h3>
            </div>
          </article>
        </div>
        <div class="w-100 w-tablet-50 w-desktop-25 p-8">
          <article class="product mb-8 bg-white">
            <img
              width="100%"
              src="/images/img-samsung-galaxy-s10.jpg"
              alt="Samsung Galaxy S10"
            />
            <div
              class="p-8 p-relative b-top-1 border-light-grey fx fx-wrap fx-align-center"
            >
              <i class="truck-icon fas fa-truck font-green"></i>
              <p class="font-large mr-8">$70.500</p>
              <p class="font-medium font-green fx-grow-70">10% off</p>
              <h3 class="product-title font-medium w-100">
                Samsung Galaxy S10
              </h3>
            </div>
          </article>
        </div>
        <div class="w-100 w-tablet-50 w-desktop-25 p-8">
          <article class="product mb-8 bg-white">
            <img
              width="100%"
              src="/images/img-tv-samsung-smart.jpg"
              alt="Samsung Galaxy S10"
            />
            <div
              class="p-8 p-relative b-top-1 border-light-grey fx fx-wrap fx-align-center"
            >
              <i class="truck-icon fas fa-truck font-green"></i>
              <p class="font-large mr-8">$23.200</p>
              <p class="font-medium font-green fx-grow-70">5% off</p>
              <h3 class="product-title font-medium w-100">
                SmartTv Samsung 43"
              </h3>
            </div>
          </article>
        </div>
      </section>
    </main>

    <!-- Para la casa -->
    <footer class="p-8"></footer>
  </body>
</html>
